arm_template/linkedTemplates/ArmTemplate_66.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "EnterpriseDataSourceProdDF"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/Tr_Daily_PL_RAW_WBE_to_Stage_to_ConsolidateDW')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Started",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "PL_Stage_WBE_to_ConsolidatedDW",
                            "type": "PipelineReference"
                        },
                        "parameters": {}
                    }
                ],
                "type": "ScheduleTrigger",
                "typeProperties": {
                    "recurrence": {
                        "frequency": "Week",
                        "interval": 1,
                        "startTime": "2022-12-21T00:27:00",
                        "timeZone": "Eastern Standard Time",
                        "schedule": {
                            "hours": [
                                20
                            ],
                            "weekDays": [
                                "Monday",
                                "Tuesday",
                                "Wednesday",
                                "Thursday",
                                "Friday",
                                "Saturday"
                            ]
                        }
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/TR_Daily_ConfirmedFraudReport')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Stopped",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "PL_Raw_CorfirmedFraudReport_to_ConsDW",
                            "type": "PipelineReference"
                        },
                        "parameters": {}
                    }
                ],
                "type": "ScheduleTrigger",
                "typeProperties": {
                    "recurrence": {
                        "frequency": "Week",
                        "interval": 1,
                        "startTime": "2023-02-28T15:44:00Z",
                        "timeZone": "UTC",
                        "schedule": {
                            "minutes": [
                                0
                            ],
                            "hours": [
                                11
                            ],
                            "weekDays": [
                                "Tuesday"
                            ]
                        }
                    }
                }
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/FIS_MasterDemographics_Populate')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Execute Dim Account",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_DimAccount",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "Execute  Account Geography",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_DimAccountGeography",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "Execute Customers",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_DimCustomer",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "Execute Xref",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_XrefMember",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "first_txn_date",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "Execute Dim Account",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[Member].[s_first_txn_date]"
                        },
                        "linkedServiceName": {
                            "referenceName": "DataWarehouse",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "folder": {
                    "name": "All Master Pipelines/Demographic Masters"
                },
                "annotations": [],
                "lastPublishTime": "2024-06-04T20:36:54Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/populate_InterchangeDaily')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "run_visa",
                        "type": "IfCondition",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "expression": {
                                "value": "@equals(pipeline().parameters.run_visa,1)",
                                "type": "Expression"
                            },
                            "ifTrueActivities": [
                                {
                                    "name": "interchange_VISA",
                                    "type": "ExecutePipeline",
                                    "dependsOn": [],
                                    "policy": {
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "pipeline": {
                                            "referenceName": "interchange_VISA",
                                            "type": "PipelineReference"
                                        },
                                        "waitOnCompletion": true,
                                        "parameters": {
                                            "load_date": {
                                                "value": "@pipeline().parameters.load_date",
                                                "type": "Expression"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    {
                        "name": "run_pulse",
                        "type": "IfCondition",
                        "dependsOn": [
                            {
                                "activity": "run_visa",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "expression": {
                                "value": "@equals(pipeline().parameters.run_pulse,1)",
                                "type": "Expression"
                            },
                            "ifTrueActivities": [
                                {
                                    "name": "interchange_PULSE",
                                    "type": "ExecutePipeline",
                                    "dependsOn": [],
                                    "policy": {
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "pipeline": {
                                            "referenceName": "interchange_PULSE",
                                            "type": "PipelineReference"
                                        },
                                        "waitOnCompletion": true,
                                        "parameters": {
                                            "load_date": {
                                                "value": "@pipeline().parameters.load_date",
                                                "type": "Expression"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    {
                        "name": "run_mastercard",
                        "type": "IfCondition",
                        "dependsOn": [
                            {
                                "activity": "run_pulse",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "expression": {
                                "value": "@equals(pipeline().parameters.run_mastercard,1)",
                                "type": "Expression"
                            },
                            "ifTrueActivities": [
                                {
                                    "name": "interchange_MSTR",
                                    "type": "ExecutePipeline",
                                    "dependsOn": [],
                                    "policy": {
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "pipeline": {
                                            "referenceName": "interchange_MSTR",
                                            "type": "PipelineReference"
                                        },
                                        "waitOnCompletion": true,
                                        "parameters": {
                                            "load_date": {
                                                "value": "@pipeline().parameters.load_date",
                                                "type": "Expression"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    {
                        "name": "run_star",
                        "type": "IfCondition",
                        "dependsOn": [
                            {
                                "activity": "run_mastercard",
                                "dependencyConditions": [
                                    "Completed"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "expression": {
                                "value": "@equals(pipeline().parameters.run_star,1)",
                                "type": "Expression"
                            },
                            "ifTrueActivities": [
                                {
                                    "name": "interchange_STAR",
                                    "type": "ExecutePipeline",
                                    "dependsOn": [],
                                    "policy": {
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "pipeline": {
                                            "referenceName": "interchange_STAR",
                                            "type": "PipelineReference"
                                        },
                                        "waitOnCompletion": true,
                                        "parameters": {
                                            "load_date": {
                                                "value": "@pipeline().parameters.load_date",
                                                "type": "Expression"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    {
                        "name": "run_coop",
                        "type": "IfCondition",
                        "dependsOn": [
                            {
                                "activity": "run_star",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "expression": {
                                "value": "@equals(pipeline().parameters.run_coop,1)",
                                "type": "Expression"
                            },
                            "ifTrueActivities": [
                                {
                                    "name": "interchange_COOP",
                                    "type": "ExecutePipeline",
                                    "dependsOn": [],
                                    "policy": {
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "pipeline": {
                                            "referenceName": "interchange_COOP",
                                            "type": "PipelineReference"
                                        },
                                        "waitOnCompletion": true,
                                        "parameters": {
                                            "load_date": {
                                                "value": "@pipeline().parameters.load_date",
                                                "type": "Expression"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "load_date": {
                        "type": "string"
                    },
                    "run_mastercard": {
                        "type": "int"
                    },
                    "run_pulse": {
                        "type": "int"
                    },
                    "run_visa": {
                        "type": "int"
                    },
                    "run_star": {
                        "type": "int"
                    },
                    "run_coop": {
                        "type": "int"
                    }
                },
                "folder": {
                    "name": "FIS"
                },
                "annotations": [],
                "lastPublishTime": "2021-07-30T22:10:09Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/MasterTransactions_FDTransactions')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Get_Drop_Zone_Files",
                        "type": "GetMetadata",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "dropZoneTransactions_meta_Transactions",
                                "type": "DatasetReference",
                                "parameters": {}
                            },
                            "fieldList": [
                                "childItems"
                            ],
                            "storeSettings": {
                                "type": "AzureBlobFSReadSettings",
                                "recursive": true
                            },
                            "formatSettings": {
                                "type": "DelimitedTextReadSettings"
                            }
                        }
                    },
                    {
                        "name": "ForEach_DropFile",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "Get_Drop_Zone_Files",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('Get_Drop_Zone_Files').output.childItems",
                                "type": "Expression"
                            },
                            "isSequential": true,
                            "activities": [
                                {
                                    "name": "If FDTrans File",
                                    "type": "IfCondition",
                                    "dependsOn": [],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "expression": {
                                            "value": "@contains(item().name,'Transactions')",
                                            "type": "Expression"
                                        },
                                        "ifTrueActivities": [
                                            {
                                                "name": "Execute FDTrans",
                                                "type": "ExecutePipeline",
                                                "dependsOn": [],
                                                "policy": {
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "pipeline": {
                                                        "referenceName": "FDTransactions",
                                                        "type": "PipelineReference"
                                                    },
                                                    "waitOnCompletion": true,
                                                    "parameters": {
                                                        "fileName": {
                                                            "value": "@item().name",
                                                            "type": "Expression"
                                                        }
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "variables": {
                    "filename": {
                        "type": "String",
                        "defaultValue": "test"
                    }
                },
                "folder": {
                    "name": "others"
                },
                "annotations": [],
                "lastPublishTime": "2021-11-08T23:18:02Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/initialLoad_RunAll')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "CardEntryMethod",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_CardEntryMethod",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "Network",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_Network",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "PaymentTokenRequestor",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_PaymentTokenRequestor",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "Response Code",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_ResponseCode",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "TxnName",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_TxnNameDimension",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "MerchantType",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_MerchantTypeDimension",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "InterchangeLegacy",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_InterchangeLegacy",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "Client_BIN_FIS",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_ClientDimensions",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "Client_BIN_Fiserv",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_ClientDimensions_Fiserv",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "folder": {
                    "name": "Dimensions/Initial Load Dimensions"
                },
                "annotations": [],
                "lastPublishTime": "2020-10-09T22:34:57Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/populate_TransactionDimensions')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "MerchantDimension",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_DimMerchant",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "Directory_Year": {
                                    "value": "@pipeline().parameters.Directory_Year",
                                    "type": "Expression"
                                },
                                "Directory_Month": {
                                    "value": "@pipeline().parameters.Directory_Month",
                                    "type": "Expression"
                                },
                                "Directory_Day": {
                                    "value": "@pipeline().parameters.Directory_Day",
                                    "type": "Expression"
                                },
                                "fileName": {
                                    "value": "@pipeline().parameters.fileName",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    {
                        "name": "NetworkDimension",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_DimNetwork",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "Directory_Year": {
                                    "value": "@pipeline().parameters.Directory_Year",
                                    "type": "Expression"
                                },
                                "Directory_Month": {
                                    "value": "@pipeline().parameters.Directory_Month",
                                    "type": "Expression"
                                },
                                "Directory_Day": {
                                    "value": "@pipeline().parameters.Directory_Day",
                                    "type": "Expression"
                                },
                                "fileName": {
                                    "value": "@pipeline().parameters.fileName",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    {
                        "name": "MerchantTerminalDimension",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_DimMerchantTerminal",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "Directory_Year": {
                                    "value": "@pipeline().parameters.Directory_Year",
                                    "type": "Expression"
                                },
                                "Directory_Month": {
                                    "value": "@pipeline().parameters.Directory_Month",
                                    "type": "Expression"
                                },
                                "Directory_Day": {
                                    "value": "@pipeline().parameters.Directory_Day",
                                    "type": "Expression"
                                },
                                "fileName": {
                                    "value": "@pipeline().parameters.fileName",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    {
                        "name": "PaymentTokenDimension",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_DimPaymentToken",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "Directory_Year": {
                                    "value": "@pipeline().parameters.Directory_Year",
                                    "type": "Expression"
                                },
                                "Directory_Month": {
                                    "value": "@pipeline().parameters.Directory_Month",
                                    "type": "Expression"
                                },
                                "Directory_Day": {
                                    "value": "@pipeline().parameters.Directory_Day",
                                    "type": "Expression"
                                },
                                "fileName": {
                                    "value": "@pipeline().parameters.fileName",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    {
                        "name": "ResponseCodeDimension",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_DimResponseCode",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "Directory_Year": {
                                    "value": "@pipeline().parameters.Directory_Year",
                                    "type": "Expression"
                                },
                                "Directory_Month": {
                                    "value": "@pipeline().parameters.Directory_Month",
                                    "type": "Expression"
                                },
                                "Directory_Day": {
                                    "value": "@pipeline().parameters.Directory_Day",
                                    "type": "Expression"
                                },
                                "fileName": {
                                    "value": "@pipeline().parameters.fileName",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    {
                        "name": "TerminalDimension",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_DimTerminal",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "Directory_Year": {
                                    "value": "@pipeline().parameters.Directory_Year",
                                    "type": "Expression"
                                },
                                "Directory_Month": {
                                    "value": "@pipeline().parameters.Directory_Month",
                                    "type": "Expression"
                                },
                                "Directory_Day": {
                                    "value": "@pipeline().parameters.Directory_Day",
                                    "type": "Expression"
                                },
                                "fileName": {
                                    "value": "@pipeline().parameters.fileName",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    {
                        "name": "CardEntryDimension",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_DimCardEntry",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "Directory_Year": {
                                    "value": "@pipeline().parameters.Directory_Year",
                                    "type": "Expression"
                                },
                                "Directory_Month": {
                                    "value": "@pipeline().parameters.Directory_Month",
                                    "type": "Expression"
                                },
                                "Directory_Day": {
                                    "value": "@pipeline().parameters.Directory_Day",
                                    "type": "Expression"
                                },
                                "fileName": {
                                    "value": "@pipeline().parameters.fileName",
                                    "type": "Expression"
                                }
                            }
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "Directory_Year": {
                        "type": "string"
                    },
                    "Directory_Month": {
                        "type": "string"
                    },
                    "Directory_Day": {
                        "type": "string"
                    },
                    "fileName": {
                        "type": "string"
                    }
                },
                "folder": {
                    "name": "All Master Pipelines/Dimension Masters"
                },
                "annotations": [],
                "lastPublishTime": "2021-10-28T21:43:43Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/populate_SemanticDatabase_incremental')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "TransactionAnalysis",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Semantic Load Start",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_semTransactionAnalysis",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "MerchantAnalysis",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Semantic Load Start",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_semMerchantAnalysis",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "TerminalAnalysis",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Semantic Load Start",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_semTerminalAnalysis",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "AccountAnalysis",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Semantic Load Start",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_semAccountAnalysis",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "CardholderAnalysis",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "Semantic Load Start",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_semCardholderAnalysis",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "Semantic Load Start",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[sem].[s_semantic_load_start]"
                        },
                        "linkedServiceName": {
                            "referenceName": "DataWarehouse",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Semantic Load End",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "TransactionAnalysis",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "MerchantAnalysis",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "TerminalAnalysis",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "AccountAnalysis",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "CardholderAnalysis",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[sem].[s_semantic_load_end]"
                        },
                        "linkedServiceName": {
                            "referenceName": "DataWarehouse",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "folder": {
                    "name": "SemanticLayer"
                },
                "annotations": [],
                "lastPublishTime": "2020-06-04T23:27:43Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/FD_MasterDemographics_Populate')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Execute dim Customer",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_DimCustomer_FD",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "Execute dim Account",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_DimAccount_FD",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "Execute dim Account Geography",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_DimAccountGeography_FD",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "Execute Xref",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_XrefMember_FD",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "first_txn_date",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "Execute dim Account",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[Member].[s_first_txn_date]"
                        },
                        "linkedServiceName": {
                            "referenceName": "Consolidated_DW",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "folder": {
                    "name": "All Master Pipelines/Demographic Masters"
                },
                "annotations": [],
                "lastPublishTime": "2020-11-05T18:19:05Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/process_DD553')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Copy_DD553",
                        "type": "Copy",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": true,
                                    "wildcardFileName": "*"
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "sink": {
                                "type": "DelimitedTextSink",
                                "storeSettings": {
                                    "type": "AzureBlobFSWriteSettings"
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextWriteSettings",
                                    "quoteAllText": true,
                                    "fileExtension": ".csv"
                                }
                            },
                            "enableStaging": false
                        },
                        "inputs": [
                            {
                                "referenceName": "src_drpDD553",
                                "type": "DatasetReference",
                                "parameters": {
                                    "file_name": "test"
                                }
                            }
                        ],
                        "outputs": [
                            {
                                "referenceName": "snk_rawDD553",
                                "type": "DatasetReference",
                                "parameters": {
                                    "outputdirectorypath": "drop-zone"
                                }
                            }
                        ]
                    },
                    {
                        "name": "Get Metadata1",
                        "type": "GetMetadata",
                        "dependsOn": [
                            {
                                "activity": "Copy_DD553",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "snk_rawDD553",
                                "type": "DatasetReference",
                                "parameters": {
                                    "outputdirectorypath": "raw"
                                }
                            },
                            "fieldList": [
                                "childItems"
                            ],
                            "storeSettings": {
                                "type": "AzureBlobFSReadSettings",
                                "recursive": true
                            },
                            "formatSettings": {
                                "type": "DelimitedTextReadSettings"
                            }
                        }
                    },
                    {
                        "name": "ForEach1",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "Get Metadata1",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('Get Metadata1').output.childItems",
                                "type": "Expression"
                            },
                            "activities": [
                                {
                                    "name": "DD553",
                                    "type": "ExecutePipeline",
                                    "dependsOn": [],
                                    "policy": {
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "pipeline": {
                                            "referenceName": "populate_DD553",
                                            "type": "PipelineReference"
                                        },
                                        "waitOnCompletion": true,
                                        "parameters": {}
                                    }
                                }
                            ]
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "folder": {
                    "name": "All Master Pipelines/Dimension Masters"
                },
                "annotations": [
                    "Deprecated"
                ],
                "lastPublishTime": "2021-07-01T23:43:00Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/Zelle_Master_PMTREQ_Populate')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "DropToDWRaw",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "PMTREQ",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "Directory_Year": {
                                    "value": "@substring(pipeline().parameters.fileName,15,4)",
                                    "type": "Expression"
                                },
                                "Directory_Month": {
                                    "value": "@substring(pipeline().parameters.fileName,11,2)",
                                    "type": "Expression"
                                },
                                "Directory_Day": {
                                    "value": "@substring(pipeline().parameters.fileName,13,2)",
                                    "type": "Expression"
                                },
                                "fileName": {
                                    "value": "@pipeline().parameters.fileName",
                                    "type": "Expression"
                                }
                            }
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "Directory_Year": {
                        "type": "string",
                        "defaultValue": "2019"
                    },
                    "Directory_Month": {
                        "type": "string",
                        "defaultValue": "01"
                    },
                    "Directory_Day": {
                        "type": "string",
                        "defaultValue": "01"
                    },
                    "fileName": {
                        "type": "string"
                    }
                },
                "folder": {
                    "name": "Zelle/Masters/PMTREQ"
                },
                "annotations": [],
                "lastPublishTime": "2021-11-29T23:38:01Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/Master_Semantic_Loads_Transactions')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "Pipeline deprecated as tables from Azure SQL are no longer source by Dashboards. \nTransactionAnalysisDaily_dci is split into a new pipeline - Master_Semantic_Transaction_AnalysisDCI",
                "activities": [
                    {
                        "name": "Semantic Load Start",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[sem].[s_semantic_load_start]"
                        },
                        "linkedServiceName": {
                            "referenceName": "DataWarehouse",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Lookup_Monthly",
                        "type": "Lookup",
                        "dependsOn": [
                            {
                                "activity": "Semantic Load Start",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlDWSource",
                                "sqlReaderQuery": "SELECT distinct cast(DATEADD(m, DATEDIFF(m, 0, settlement_date_key), 0) as date) as settlement_date  FROM [Audit].[vw_load_settlement_date]",
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "dataset": {
                                "referenceName": "populate_AuditTransactionsLog",
                                "type": "DatasetReference",
                                "parameters": {}
                            },
                            "firstRowOnly": false
                        }
                    },
                    {
                        "name": "ForEach_Monthly",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "Lookup_Monthly",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('Lookup_Monthly').output.value",
                                "type": "Expression"
                            },
                            "isSequential": true,
                            "activities": [
                                {
                                    "name": "TransactionAnalysisMonthly",
                                    "type": "ExecutePipeline",
                                    "dependsOn": [],
                                    "policy": {
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "pipeline": {
                                            "referenceName": "populate_semantic_IterativeMonthRange",
                                            "type": "PipelineReference"
                                        },
                                        "waitOnCompletion": true,
                                        "parameters": {
                                            "Date_Start": {
                                                "value": "@item().settlement_date",
                                                "type": "Expression"
                                            },
                                            "Date_End": {
                                                "value": "@item().settlement_date",
                                                "type": "Expression"
                                            },
                                            "Dashboard": "TransactionAnalysis"
                                        }
                                    }
                                },
                                {
                                    "name": "TransactionSpendAnalysis",
                                    "type": "ExecutePipeline",
                                    "dependsOn": [],
                                    "policy": {
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "pipeline": {
                                            "referenceName": "populate_semantic_IterativeMonthRange",
                                            "type": "PipelineReference"
                                        },
                                        "waitOnCompletion": true,
                                        "parameters": {
                                            "Date_Start": {
                                                "value": "@item().settlement_date",
                                                "type": "Expression"
                                            },
                                            "Date_End": {
                                                "value": "@item().settlement_date",
                                                "type": "Expression"
                                            },
                                            "Dashboard": "TransactionSpendAnalysis"
                                        }
                                    }
                                },
                                {
                                    "name": "TransactionVolumeAnalysis",
                                    "type": "ExecutePipeline",
                                    "dependsOn": [
                                        {
                                            "activity": "TransactionSpendAnalysis",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "pipeline": {
                                            "referenceName": "populate_semantic_IterativeMonthRange",
                                            "type": "PipelineReference"
                                        },
                                        "waitOnCompletion": true,
                                        "parameters": {
                                            "Date_Start": {
                                                "value": "@item().settlement_date",
                                                "type": "Expression"
                                            },
                                            "Date_End": {
                                                "value": "@item().settlement_date",
                                                "type": "Expression"
                                            },
                                            "Dashboard": "TransactionVolumeAnalysis"
                                        }
                                    }
                                },
                                {
                                    "name": "MerchantCategoryAnalysis",
                                    "type": "ExecutePipeline",
                                    "dependsOn": [
                                        {
                                            "activity": "TransactionAnalysisMonthly",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "pipeline": {
                                            "referenceName": "populate_semantic_IterativeMonthRange",
                                            "type": "PipelineReference"
                                        },
                                        "waitOnCompletion": true,
                                        "parameters": {
                                            "Date_Start": {
                                                "value": "@item().settlement_date",
                                                "type": "Expression"
                                            },
                                            "Date_End": {
                                                "value": "@item().settlement_date",
                                                "type": "Expression"
                                            },
                                            "Dashboard": "MerchantCategoryAnalysis"
                                        }
                                    }
                                },
                                {
                                    "name": "CardholderDeclineAnalysis",
                                    "type": "ExecutePipeline",
                                    "dependsOn": [
                                        {
                                            "activity": "MerchantCategoryAnalysis",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "pipeline": {
                                            "referenceName": "populate_semantic_IterativeMonthRange",
                                            "type": "PipelineReference"
                                        },
                                        "waitOnCompletion": true,
                                        "parameters": {
                                            "Date_Start": {
                                                "value": "@item().settlement_date",
                                                "type": "Expression"
                                            },
                                            "Date_End": {
                                                "value": "@item().settlement_date",
                                                "type": "Expression"
                                            },
                                            "Dashboard": "CardholderDeclineAnalysis"
                                        }
                                    }
                                },
                                {
                                    "name": "ATMTerminalAnalysis",
                                    "type": "ExecutePipeline",
                                    "dependsOn": [
                                        {
                                            "activity": "TransactionVolumeAnalysis",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "pipeline": {
                                            "referenceName": "populate_semantic_IterativeMonthRange",
                                            "type": "PipelineReference"
                                        },
                                        "waitOnCompletion": true,
                                        "parameters": {
                                            "Date_Start": {
                                                "value": "@item().settlement_date",
                                                "type": "Expression"
                                            },
                                            "Date_End": {
                                                "value": "@item().settlement_date",
                                                "type": "Expression"
                                            },
                                            "Dashboard": "ATMTerminalAnalysis"
                                        }
                                    }
                                },
                                {
                                    "name": "ATMTransactionAnalysis",
                                    "type": "ExecutePipeline",
                                    "dependsOn": [
                                        {
                                            "activity": "CardholderDeclineAnalysis",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "policy": {
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "pipeline": {
                                            "referenceName": "populate_semantic_IterativeMonthRange",
                                            "type": "PipelineReference"
                                        },
                                        "waitOnCompletion": true,
                                        "parameters": {
                                            "Date_Start": {
                                                "value": "@item().settlement_date",
                                                "type": "Expression"
                                            },
                                            "Date_End": {
                                                "value": "@item().settlement_date",
                                                "type": "Expression"
                                            },
                                            "Dashboard": "ATMTransactionAnalysis"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    {
                        "name": "Semantic Load End",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "ForEach_Monthly",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            },
                            {
                                "activity": "Delete_Old_Semantic_Daily",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[sem].[s_semantic_load_end]"
                        },
                        "linkedServiceName": {
                            "referenceName": "DataWarehouse",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "Lookup_Daily",
                        "type": "Lookup",
                        "dependsOn": [
                            {
                                "activity": "Semantic Load Start",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "SqlDWSource",
                                "sqlReaderQuery": "SELECT distinct cast(settlement_date_key as date) as settlement_date  FROM [Audit].[vw_load_settlement_date]",
                                "queryTimeout": "02:00:00",
                                "partitionOption": "None"
                            },
                            "dataset": {
                                "referenceName": "populate_AuditTransactionsLog",
                                "type": "DatasetReference",
                                "parameters": {}
                            },
                            "firstRowOnly": false
                        }
                    },
                    {
                        "name": "ForEach_Daily",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "Lookup_Daily",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('Lookup_Daily').output.value",
                                "type": "Expression"
                            },
                            "isSequential": true,
                            "activities": [
                                {
                                    "name": "TransactionAnalysisDaily_dci",
                                    "type": "ExecutePipeline",
                                    "dependsOn": [],
                                    "policy": {
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "pipeline": {
                                            "referenceName": "populate_semDigitalTransactionAnalysis_singleDay",
                                            "type": "PipelineReference"
                                        },
                                        "waitOnCompletion": true,
                                        "parameters": {
                                            "ProcessDate": {
                                                "value": "@item().settlement_date",
                                                "type": "Expression"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    {
                        "name": "Delete_Old_Semantic_Daily",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "ForEach_Daily",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "sp_Delete_Old_Data_Semantic_Daily",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    }
                ],
                "concurrency": 1,
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "folder": {
                    "name": "All Master Pipelines/Semantic"
                },
                "annotations": [],
                "lastPublishTime": "2024-10-29T15:03:37Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/Zelle_Master_MEMBERS_Populate')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "DropToDWRaw",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "MEMBERS",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "Directory_Year": {
                                    "value": "@substring(pipeline().parameters.fileName,15,4)",
                                    "type": "Expression"
                                },
                                "Directory_Month": {
                                    "value": "@substring(pipeline().parameters.fileName,11,2)",
                                    "type": "Expression"
                                },
                                "Directory_Day": {
                                    "value": "@substring(pipeline().parameters.fileName,13,2)",
                                    "type": "Expression"
                                },
                                "fileName": {
                                    "value": "@pipeline().parameters.fileName",
                                    "type": "Expression"
                                }
                            }
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "Directory_Year": {
                        "type": "string"
                    },
                    "Directory_Month": {
                        "type": "string"
                    },
                    "Directory_Day": {
                        "type": "string"
                    },
                    "fileName": {
                        "type": "string"
                    }
                },
                "folder": {
                    "name": "Zelle/Masters/MEMBERS"
                },
                "annotations": [
                    "Zelle"
                ],
                "lastPublishTime": "2021-05-17T21:08:57Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/Master_SB_Populate')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "DropToDW Raw",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "Shared_Branch",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "Directory_Year": {
                                    "value": "@pipeline().parameters.Directory_Year",
                                    "type": "Expression"
                                },
                                "Directory_Month": {
                                    "value": "@pipeline().parameters.Directory_Month",
                                    "type": "Expression"
                                },
                                "Directory_Day": {
                                    "value": "@pipeline().parameters.Directory_Day",
                                    "type": "Expression"
                                },
                                "fileName": {
                                    "value": "@pipeline().parameters.fileName",
                                    "type": "Expression"
                                }
                            }
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "Directory_Year": {
                        "type": "string"
                    },
                    "Directory_Month": {
                        "type": "string"
                    },
                    "Directory_Day": {
                        "type": "string"
                    },
                    "fileName": {
                        "type": "string"
                    }
                },
                "folder": {
                    "name": "Shared Branch/Masters"
                },
                "annotations": [
                    "Shared Branch"
                ],
                "lastPublishTime": "2021-05-17T21:08:57Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/FIS_MasterTransactions_Populate_copy1')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "FactTransactions",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "FISTransactions",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_FactTransactions",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "Directory_Year": {
                                    "value": "@substring(pipeline().parameters.fileName,20,4)",
                                    "type": "Expression"
                                },
                                "Directory_Month": {
                                    "value": "@substring(pipeline().parameters.fileName,24,2)",
                                    "type": "Expression"
                                },
                                "Directory_Day": {
                                    "value": "@substring(pipeline().parameters.fileName,26,2)",
                                    "type": "Expression"
                                },
                                "fileName": {
                                    "value": "@pipeline().parameters.fileName",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    {
                        "name": "FISTransactions",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "FIS_Transactions",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "Directory_Year": {
                                    "value": "@substring(pipeline().parameters.fileName,20,4)",
                                    "type": "Expression"
                                },
                                "Directory_Month": {
                                    "value": "@substring(pipeline().parameters.fileName,24,2)",
                                    "type": "Expression"
                                },
                                "Directory_Day": {
                                    "value": "@substring(pipeline().parameters.fileName,26,2)",
                                    "type": "Expression"
                                },
                                "fileName": {
                                    "value": "@pipeline().parameters.fileName",
                                    "type": "Expression"
                                }
                            }
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "Directory_Year": {
                        "type": "string",
                        "defaultValue": "2019"
                    },
                    "Directory_Month": {
                        "type": "string",
                        "defaultValue": "01"
                    },
                    "Directory_Day": {
                        "type": "string",
                        "defaultValue": "01"
                    },
                    "fileName": {
                        "type": "string"
                    }
                },
                "folder": {
                    "name": "All Master Pipelines/FIS Masters"
                },
                "annotations": [],
                "lastPublishTime": "2020-06-10T17:50:28Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/FD_MasterTransactions_Populate_copy1')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "FactTransactions",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "FD Transactions",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_FactTransactions",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "Directory_Year": {
                                    "value": "@if(equals(substring(pipeline().parameters.fileName,11,1),'s'),substring(pipeline().parameters.fileName,13,4),substring(pipeline().parameters.fileName,12,4))",
                                    "type": "Expression"
                                },
                                "Directory_Month": {
                                    "value": "@if(equals(substring(pipeline().parameters.fileName,11,1),'s'),substring(pipeline().parameters.fileName,17,2),substring(pipeline().parameters.fileName,16,2))",
                                    "type": "Expression"
                                },
                                "Directory_Day": {
                                    "value": "@if(equals(substring(pipeline().parameters.fileName,11,1),'s'),substring(pipeline().parameters.fileName,19,2),substring(pipeline().parameters.fileName,18,2))",
                                    "type": "Expression"
                                },
                                "fileName": {
                                    "value": "@pipeline().parameters.fileName",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    {
                        "name": "FD Transactions",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "FDTransactions",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "Directory_Year": {
                                    "value": "@if(equals(substring(pipeline().parameters.fileName,11,1),'s'),substring(pipeline().parameters.fileName,13,4),substring(pipeline().parameters.fileName,12,4))",
                                    "type": "Expression"
                                },
                                "Directory_Month": {
                                    "value": "@if(equals(substring(pipeline().parameters.fileName,11,1),'s'),substring(pipeline().parameters.fileName,17,2),substring(pipeline().parameters.fileName,16,2))",
                                    "type": "Expression"
                                },
                                "Directory_Day": {
                                    "value": "@if(equals(substring(pipeline().parameters.fileName,11,1),'s'),substring(pipeline().parameters.fileName,19,2),substring(pipeline().parameters.fileName,18,2))",
                                    "type": "Expression"
                                },
                                "fileName": {
                                    "value": "@pipeline().parameters.fileName",
                                    "type": "Expression"
                                }
                            }
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "Directory_Year": {
                        "type": "string",
                        "defaultValue": "2019"
                    },
                    "Directory_Month": {
                        "type": "string",
                        "defaultValue": "01"
                    },
                    "Directory_Day": {
                        "type": "string",
                        "defaultValue": "01"
                    },
                    "fileName": {
                        "type": "string"
                    }
                },
                "folder": {
                    "name": "All Master Pipelines/FD Masters/FD Transactions"
                },
                "annotations": [],
                "lastPublishTime": "2021-11-08T23:18:02Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/MasterTransactions_Oracle_SharedBranch_Populate')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "Get_Drop_Zone_Files",
                        "type": "GetMetadata",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "dataset": {
                                "referenceName": "dzOracleSBTransactions_meta",
                                "type": "DatasetReference",
                                "parameters": {}
                            },
                            "fieldList": [
                                "childItems"
                            ],
                            "storeSettings": {
                                "type": "AzureBlobFSReadSettings",
                                "recursive": true
                            },
                            "formatSettings": {
                                "type": "DelimitedTextReadSettings"
                            }
                        }
                    },
                    {
                        "name": "ForEach_DropFile",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "Get_Drop_Zone_Files",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('Get_Drop_Zone_Files').output.childItems",
                                "type": "Expression"
                            },
                            "isSequential": true,
                            "activities": [
                                {
                                    "name": "If SB Transaction File",
                                    "type": "IfCondition",
                                    "dependsOn": [],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "expression": {
                                            "value": "@contains(item().name,'CUSW.ISOUSEX.TXT')",
                                            "type": "Expression"
                                        },
                                        "ifTrueActivities": [
                                            {
                                                "name": "SharedBranchOracleLoadRaw",
                                                "type": "ExecutePipeline",
                                                "dependsOn": [],
                                                "policy": {
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "pipeline": {
                                                        "referenceName": "Oracle_SharedBranchLoadRaw",
                                                        "type": "PipelineReference"
                                                    },
                                                    "waitOnCompletion": true,
                                                    "parameters": {
                                                        "fileName": {
                                                            "value": "@item().name",
                                                            "type": "Expression"
                                                        }
                                                    }
                                                }
                                            },
                                            {
                                                "name": "Delete FIS Oracle Shared Branch From Drop",
                                                "type": "Delete",
                                                "dependsOn": [
                                                    {
                                                        "activity": "SharedBranchOracleLoadRaw",
                                                        "dependencyConditions": [
                                                            "Succeeded"
                                                        ]
                                                    }
                                                ],
                                                "policy": {
                                                    "timeout": "7.00:00:00",
                                                    "retry": 0,
                                                    "retryIntervalInSeconds": 30,
                                                    "secureOutput": false,
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "dataset": {
                                                        "referenceName": "all_dropOracleSBTransactions",
                                                        "type": "DatasetReference",
                                                        "parameters": {
                                                            "fileName": "@item().name"
                                                        }
                                                    },
                                                    "enableLogging": false,
                                                    "storeSettings": {
                                                        "type": "AzureBlobFSReadSettings",
                                                        "recursive": false
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    }
                ],
                "concurrency": 1,
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "folder": {
                    "name": "Shared Branch/OracleMig/Shared Branch Daily Load"
                },
                "annotations": [
                    "Shared Branch"
                ],
                "lastPublishTime": "2021-05-17T21:08:57Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/Master_Semantic_zelle')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "populate_zelle_reporting",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_zelle_reporting",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "populate_zelle_transaction_analysis_daily",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_zelle_transaction_analysis_daily",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "folder": {
                    "name": "Zelle/Semantic"
                },
                "annotations": [
                    "Zelle"
                ],
                "lastPublishTime": "2021-10-07T22:16:12Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/FD_DD553_Master')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "droptoRaw_DD553",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "droptoRaw_DD553",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "Populate DD553",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "FD_DD553_Master_Populate",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "folder": {
                    "name": "All Master Pipelines/FD Masters/FD_DD553"
                },
                "annotations": [],
                "lastPublishTime": "2021-11-08T23:18:02Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/Master_Shared_Semantic')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "Master pipeline",
                "activities": [
                    {
                        "name": "populate_shared_branch_acquirer_report",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_shared_branch_acquirer_report",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "populate_shared_branch_issuer_report",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "populate_shared_branch_issuer_report",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "folder": {
                    "name": "Shared Branch/Semantic"
                },
                "annotations": [
                    "Shared Branch"
                ],
                "lastPublishTime": "2021-05-17T21:08:57Z"
            },
            "dependsOn": []
        }
    ]
}