arm_template/linkedTemplates/ArmTemplate_72.json
{
    "$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "factoryName": {
            "type": "string",
            "metadata": "Data Factory name",
            "defaultValue": "EnterpriseDataSourceProdDF"
        },
        "TR_evn_Rewards_Custom_Demographics_properties_typeProperties_scope": {
            "type": "string",
            "defaultValue": "/subscriptions/662e240f-6ddf-4916-a4ff-b5e97b3aeb7e/resourceGroups/EnterpriseDataSourceProdRG/providers/Microsoft.Storage/storageAccounts/enterprisedatasourceprod"
        }
    },
    "variables": {
        "factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
    },
    "resources": [
        {
            "name": "[concat(parameters('factoryName'), '/PL_Master_Rewards_Response')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "execPL_dropToDwRaw-RewardsResponseFile",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "sp_truncate_rewards_member_response_raw_daily",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "PL_Master_Rewards_Response_Loop",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "sp_truncate_rewards_member_response_raw_daily",
                        "description": "truncates two staging tables -raw and daily staging tables",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.00:10:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[Staging].[s_truncate_rewards_member_response_raw_daily]"
                        },
                        "linkedServiceName": {
                            "referenceName": "DataWarehouse",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "sp_s_rewards_member_response_daily",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "execPL_dropToDwRaw-RewardsResponseFile",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[Staging].[s_rewards_member_response_daily]"
                        },
                        "linkedServiceName": {
                            "referenceName": "DataWarehouse",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "sp_s_member_response_daily",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "sp_s_rewards_member_response_daily",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[rewards].[s_upsert_member_response_daily]"
                        },
                        "linkedServiceName": {
                            "referenceName": "DataWarehouse",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "execPL_dropToRaw_Rewards_ResponseFile",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "sp_s_member_response_daily",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "PL_droptoRaw_Rewards_Response",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "execPL_Kobie_Transaction_Multiple_file",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "execPL_dropToRaw_Rewards_ResponseFile",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "PL_Kobie_Transaction_Multiple_file",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "folder": {
                    "name": "Rewards/Response_Master"
                },
                "annotations": [
                    "Rewards"
                ],
                "lastPublishTime": "2021-07-10T02:16:08Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL_Master_Rewards_Custom_Demographic')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "execPL_dropToDwRaw-RewardsResponseFile",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "sp_truncate_rewards_member_custom_demographicandraw",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "PL_Rewards_Custom_Demographic_Loop",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "sp_truncate_rewards_member_custom_demographicandraw",
                        "description": "truncates two staging tables -raw and staging tables",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[Staging].[s_truncate_rewards_member_custom_demographicandraw]"
                        },
                        "linkedServiceName": {
                            "referenceName": "DataWarehouse",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "sp_rewards_member_DemographicLoad",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "execPL_dropToDwRaw-RewardsResponseFile",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[Staging].[s_rewards_member_Custom_Demographic]"
                        },
                        "linkedServiceName": {
                            "referenceName": "DataWarehouse",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "sp_insert_member_custom_demographic",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "sp_rewards_member_DemographicLoad",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[rewards].[i_insert_member_custom_demographic]"
                        },
                        "linkedServiceName": {
                            "referenceName": "DataWarehouse",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "folder": {
                    "name": "Rewards/CustomDemographic"
                },
                "annotations": [],
                "lastPublishTime": "2021-08-21T16:43:26Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL_DropToRaw_Container')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "lkp_DrpToRaw_Config",
                        "type": "Lookup",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "source": {
                                "type": "DelimitedTextSource",
                                "storeSettings": {
                                    "type": "AzureBlobFSReadSettings",
                                    "recursive": false,
                                    "enablePartitionDiscovery": false
                                },
                                "formatSettings": {
                                    "type": "DelimitedTextReadSettings"
                                }
                            },
                            "dataset": {
                                "referenceName": "DS_ABLB_CSV_Header_File",
                                "type": "DatasetReference",
                                "parameters": {
                                    "Container": "raw",
                                    "Directory": "config/ADF",
                                    "FileName": "DropToRaw_config.csv"
                                }
                            },
                            "firstRowOnly": false
                        }
                    },
                    {
                        "name": "forEach_Config",
                        "type": "ForEach",
                        "dependsOn": [
                            {
                                "activity": "lkp_DrpToRaw_Config",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "userProperties": [],
                        "typeProperties": {
                            "items": {
                                "value": "@activity('lkp_DrpToRaw_Config').output.value",
                                "type": "Expression"
                            },
                            "isSequential": true,
                            "activities": [
                                {
                                    "name": "var_GetSourceDirectory",
                                    "type": "SetVariable",
                                    "dependsOn": [],
                                    "policy": {
                                        "secureOutput": false,
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "variableName": "Source_Directory",
                                        "value": {
                                            "value": "@item().SourcePath",
                                            "type": "Expression"
                                        }
                                    }
                                },
                                {
                                    "name": "if_Enabled",
                                    "type": "IfCondition",
                                    "dependsOn": [
                                        {
                                            "activity": "var_GetSourceDirectory",
                                            "dependencyConditions": [
                                                "Succeeded"
                                            ]
                                        }
                                    ],
                                    "userProperties": [],
                                    "typeProperties": {
                                        "expression": {
                                            "value": "@equals(item().Enable,'1')",
                                            "type": "Expression"
                                        },
                                        "ifTrueActivities": [
                                            {
                                                "name": "PL_DropToRaw_Folder",
                                                "type": "ExecutePipeline",
                                                "dependsOn": [],
                                                "policy": {
                                                    "secureInput": false
                                                },
                                                "userProperties": [],
                                                "typeProperties": {
                                                    "pipeline": {
                                                        "referenceName": "PL_DropToRaw_Folder",
                                                        "type": "PipelineReference"
                                                    },
                                                    "waitOnCompletion": true,
                                                    "parameters": {
                                                        "Source_Container": {
                                                            "value": "@variables('Source_Container')",
                                                            "type": "Expression"
                                                        },
                                                        "Source_Directory": {
                                                            "value": "@variables('Source_Directory')",
                                                            "type": "Expression"
                                                        }
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                }
                            ]
                        }
                    }
                ],
                "concurrency": 1,
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "variables": {
                    "Source_Container": {
                        "type": "String",
                        "defaultValue": "drop-zone"
                    },
                    "Source_Directory": {
                        "type": "String"
                    }
                },
                "folder": {
                    "name": "Utilities"
                },
                "annotations": [],
                "lastPublishTime": "2021-11-18T23:03:31Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL_Master_Rewards_Custom_Transaction')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "execPL_dropToDwRaw-RewardsTransactionFile",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "sp_truncate_rewards_member_custom_transaction",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "PL_Rewards_Custom_Transaction_Loop",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "sp_truncate_rewards_member_custom_transaction",
                        "description": "truncates two staging tables -raw and staging tables",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[Staging].[s_truncate_MemberTransaction]"
                        },
                        "linkedServiceName": {
                            "referenceName": "DataWarehouse",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "sp_rewards_member_TransactionLoad",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "execPL_dropToDwRaw-RewardsTransactionFile",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[Staging].[i_Staging_MemberTransaction]"
                        },
                        "linkedServiceName": {
                            "referenceName": "DataWarehouse",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "sp_insert_member_custom_transaction",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "sp_rewards_member_TransactionLoad",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[rewards].[i_Rewards_MemberTransaction]"
                        },
                        "linkedServiceName": {
                            "referenceName": "DataWarehouse",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "folder": {
                    "name": "Rewards/AncillaryTransaction"
                },
                "annotations": [],
                "lastPublishTime": "2021-12-28T19:58:39Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL_Master_Rewards_Response_Error')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "execPL_dropToDwRaw-RewardsResponseErrorFile",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "sp_truncate_rewards_member_response_raw_daily_error",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "PL_Master_Rewards_Response_Loop_Error",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "sp_truncate_rewards_member_response_raw_daily_error",
                        "description": "truncates two staging tables -raw and daily staging error tables",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "0.00:10:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[Staging].[s_truncate_rewards_member_response_raw_daily_error]"
                        },
                        "linkedServiceName": {
                            "referenceName": "DataWarehouse",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "sp_s_rewards_member_response_daily_error",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "execPL_dropToDwRaw-RewardsResponseErrorFile",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[Staging].[s_rewards_member_response_daily_error]"
                        },
                        "linkedServiceName": {
                            "referenceName": "DataWarehouse",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "execPL_dropToRaw_Rewards_ResponseErrorFile",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "sp_s_member_response_daily_error",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "PL_droptoRaw_Rewards_Response_Error",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "sp_s_member_response_daily_error",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "sp_s_rewards_member_response_daily_error",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[rewards].[s_insert_member_response_daily_error]"
                        },
                        "linkedServiceName": {
                            "referenceName": "DataWarehouse",
                            "type": "LinkedServiceReference"
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "folder": {
                    "name": "Rewards/Response_Master"
                },
                "annotations": [
                    "Rewards"
                ],
                "lastPublishTime": "2022-01-27T09:43:03Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/PL_Master_Rewards_Transaction_Error')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "activities": [
                    {
                        "name": "sp_truncate_rewards_transaction_raw_daily_error",
                        "description": "truncates two staging tables -raw and daily staging error tables",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[Staging].[s_truncate_transaction_raw_daily_error]"
                        },
                        "linkedServiceName": {
                            "referenceName": "DataWarehouse",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "sp_s_transaction_Daily_Error",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "PL_Rewards_Transaction_Loop_Error",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[Staging].[s_transaction_daily_error]"
                        },
                        "linkedServiceName": {
                            "referenceName": "DataWarehouse",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "sp_s_insert_transaction_daily_error",
                        "type": "SqlServerStoredProcedure",
                        "dependsOn": [
                            {
                                "activity": "sp_s_transaction_Daily_Error",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "timeout": "7.00:00:00",
                            "retry": 0,
                            "retryIntervalInSeconds": 30,
                            "secureOutput": false,
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "storedProcedureName": "[[rewards].[s_insert_transaction_daily_error]"
                        },
                        "linkedServiceName": {
                            "referenceName": "DataWarehouse",
                            "type": "LinkedServiceReference"
                        }
                    },
                    {
                        "name": "PL_Rewards_Transaction_Loop_Error",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "sp_truncate_rewards_transaction_raw_daily_error",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "PL_Rewards_Transaction_Loop_Error",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    },
                    {
                        "name": "PL_dropToRaw_Rewards_Transaction_Error",
                        "type": "ExecutePipeline",
                        "dependsOn": [
                            {
                                "activity": "sp_s_insert_transaction_daily_error",
                                "dependencyConditions": [
                                    "Succeeded"
                                ]
                            }
                        ],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "PL_droptoRaw_Rewards_Transaction_Error",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {}
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "folder": {
                    "name": "Rewards/Rewards_Transaction"
                },
                "annotations": [],
                "lastPublishTime": "2022-03-07T15:40:31Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/MS_Rewards_Respopnse_Trigger')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Stopped",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "PL_Master_Rewards_Response",
                            "type": "PipelineReference"
                        },
                        "parameters": {}
                    }
                ],
                "type": "ScheduleTrigger",
                "typeProperties": {
                    "recurrence": {
                        "frequency": "Week",
                        "interval": 1,
                        "startTime": "2021-05-12T23:10:00",
                        "timeZone": "Central Standard Time",
                        "schedule": {
                            "minutes": [
                                30
                            ],
                            "hours": [
                                20
                            ],
                            "weekDays": [
                                "Monday",
                                "Tuesday",
                                "Wednesday",
                                "Thursday",
                                "Friday",
                                "Saturday"
                            ]
                        }
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/PL_Master_Rewards_Response')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/TR_Master_Rewards_Response_Error')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Stopped",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "PL_Master_Rewards_Response_Error",
                            "type": "PipelineReference"
                        },
                        "parameters": {}
                    }
                ],
                "type": "ScheduleTrigger",
                "typeProperties": {
                    "recurrence": {
                        "frequency": "Day",
                        "interval": 1,
                        "startTime": "2022-01-27T09:54:00",
                        "timeZone": "Central Standard Time",
                        "schedule": {
                            "minutes": [
                                0
                            ],
                            "hours": [
                                23
                            ]
                        }
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/PL_Master_Rewards_Response_Error')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/TR_daily_Master_Rewards_Transaction_Error')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Stopped",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "PL_Rewards_Transaction_Loop_Error",
                            "type": "PipelineReference"
                        },
                        "parameters": {}
                    },
                    {
                        "pipelineReference": {
                            "referenceName": "PL_Master_Rewards_Transaction_Error",
                            "type": "PipelineReference"
                        },
                        "parameters": {}
                    }
                ],
                "type": "ScheduleTrigger",
                "typeProperties": {
                    "recurrence": {
                        "frequency": "Day",
                        "interval": 1,
                        "startTime": "2022-02-16T20:12:00Z",
                        "timeZone": "UTC",
                        "schedule": {
                            "minutes": [
                                0
                            ],
                            "hours": [
                                22
                            ]
                        }
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/PL_Master_Rewards_Transaction_Error')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/TR_evn_Rewards_Custom_Demographics')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Stopped",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "PL_Master_Rewards_Custom_Demographic",
                            "type": "PipelineReference"
                        },
                        "parameters": {}
                    }
                ],
                "type": "BlobEventsTrigger",
                "typeProperties": {
                    "blobPathBeginsWith": "/drop-zone/blobs/Rewards/Inbound/Demographics/Custom",
                    "blobPathEndsWith": ".txt",
                    "ignoreEmptyBlobs": true,
                    "scope": "[parameters('TR_evn_Rewards_Custom_Demographics_properties_typeProperties_scope')]",
                    "events": [
                        "Microsoft.Storage.BlobCreated"
                    ]
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/PL_Master_Rewards_Custom_Demographic')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/TR_8Hourly_DropToRaw')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "This trigger moves all files located in the config file (raw/config/ADF) from drop to raw every eight hours in a day (5 AM, 1 PM, 9 PM).  Used in the event the event based trigger trips up.",
                "annotations": [],
                "runtimeState": "Stopped",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "PL_DropToRaw_Container",
                            "type": "PipelineReference"
                        },
                        "parameters": {}
                    }
                ],
                "type": "ScheduleTrigger",
                "typeProperties": {
                    "recurrence": {
                        "frequency": "Hour",
                        "interval": 8,
                        "startTime": "2023-07-22T20:00:00",
                        "timeZone": "Eastern Standard Time"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/PL_DropToRaw_Container')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/TR_9AM_DropToRaw')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "annotations": [],
                "runtimeState": "Stopped",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "PL_DropToRaw_Container",
                            "type": "PipelineReference"
                        },
                        "parameters": {}
                    }
                ],
                "type": "ScheduleTrigger",
                "typeProperties": {
                    "recurrence": {
                        "frequency": "Hour",
                        "interval": 24,
                        "startTime": "2023-07-25T09:00:00",
                        "timeZone": "Eastern Standard Time"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/PL_DropToRaw_Container')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/TR_1115AM_DropToRaw')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "Trigger to move all configured files from the drop-zone to the raw zone",
                "annotations": [],
                "runtimeState": "Stopped",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "PL_DropToRaw_Container",
                            "type": "PipelineReference"
                        },
                        "parameters": {}
                    }
                ],
                "type": "ScheduleTrigger",
                "typeProperties": {
                    "recurrence": {
                        "frequency": "Hour",
                        "interval": 24,
                        "startTime": "2023-09-13T11:15:00",
                        "timeZone": "Eastern Standard Time"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/PL_DropToRaw_Container')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/TR_1015AM_DropToRaw')]",
            "type": "Microsoft.DataFactory/factories/triggers",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "Trigger to move all configured files from the drop-zone to the raw zone",
                "annotations": [],
                "runtimeState": "Stopped",
                "pipelines": [
                    {
                        "pipelineReference": {
                            "referenceName": "PL_DropToRaw_Container",
                            "type": "PipelineReference"
                        },
                        "parameters": {}
                    }
                ],
                "type": "ScheduleTrigger",
                "typeProperties": {
                    "recurrence": {
                        "frequency": "Hour",
                        "interval": 24,
                        "startTime": "2023-09-13T10:15:00",
                        "timeZone": "Eastern Standard Time"
                    }
                }
            },
            "dependsOn": [
                "[concat(variables('factoryId'), '/pipelines/PL_DropToRaw_Container')]"
            ]
        },
        {
            "name": "[concat(parameters('factoryName'), '/FD_ChargeOff_MasterTransactions')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "This pipeline run transactions from Drop To Raw And Conformed.\nCalling the dropToRaw and Mastertransactions pipelines",
                "activities": [
                    {
                        "name": "MasterTransactions_ChargeOff",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "FD_ChargeOff_MasterTransactions_Loop",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "run_fact_transactions": {
                                    "value": "@pipeline().parameters.run_fact_transactions",
                                    "type": "Expression"
                                },
                                "run_conformed": {
                                    "value": "@pipeline().parameters.run_conformed",
                                    "type": "Expression"
                                },
                                "run_dimensions": {
                                    "value": "@pipeline().parameters.run_dimensions",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    {
                        "name": "DropToRaw_Control",
                        "type": "IfCondition",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "expression": {
                                "value": "@equals(pipeline().parameters.run_conformed,'1')",
                                "type": "Expression"
                            },
                            "ifTrueActivities": [
                                {
                                    "name": "droptoRaw_ChargeOff",
                                    "type": "ExecutePipeline",
                                    "dependsOn": [],
                                    "policy": {
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "pipeline": {
                                            "referenceName": "droptoRaw_ChargeOff",
                                            "type": "PipelineReference"
                                        },
                                        "waitOnCompletion": true,
                                        "parameters": {}
                                    }
                                }
                            ]
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "run_fact_transactions": {
                        "type": "string",
                        "defaultValue": "1"
                    },
                    "run_conformed": {
                        "type": "string",
                        "defaultValue": "1"
                    },
                    "run_dimensions": {
                        "type": "string",
                        "defaultValue": "1"
                    }
                },
                "folder": {
                    "name": "All Master Pipelines/FD Masters/FD_ChargeOff"
                },
                "annotations": [],
                "lastPublishTime": "2021-11-08T23:18:02Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/FD_CD031_MasterTransactions')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "This pipeline run transactions from Drop To Raw And Conformed.\nCalling the dropToRaw and Mastertransactions pipelines",
                "activities": [
                    {
                        "name": "MasterTransactions_CD031",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "FD_CD031_MasterTransactions_Loop",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "run_fact_transactions": {
                                    "value": "@pipeline().parameters.run_fact_transactions",
                                    "type": "Expression"
                                },
                                "run_conformed": {
                                    "value": "@pipeline().parameters.run_conformed",
                                    "type": "Expression"
                                },
                                "run_dimensions": {
                                    "value": "@pipeline().parameters.run_dimensions",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    {
                        "name": "DropToRaw_Control",
                        "type": "IfCondition",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "expression": {
                                "value": "@equals(pipeline().parameters.run_conformed,'1')",
                                "type": "Expression"
                            },
                            "ifTrueActivities": [
                                {
                                    "name": "droptoRaw_CD031",
                                    "type": "ExecutePipeline",
                                    "dependsOn": [],
                                    "policy": {
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "pipeline": {
                                            "referenceName": "droptoRaw_CD031",
                                            "type": "PipelineReference"
                                        },
                                        "waitOnCompletion": true,
                                        "parameters": {}
                                    }
                                }
                            ]
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "run_fact_transactions": {
                        "type": "string",
                        "defaultValue": "1"
                    },
                    "run_conformed": {
                        "type": "string",
                        "defaultValue": "1"
                    },
                    "run_dimensions": {
                        "type": "string",
                        "defaultValue": "1"
                    }
                },
                "folder": {
                    "name": "All Master Pipelines/FD Masters/FD_CD031"
                },
                "annotations": [],
                "lastPublishTime": "2021-11-08T23:18:02Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/FD_DD031_MasterTransactions')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "This pipeline run transactions from Drop To Raw And Conformed.\nCalling the dropToRaw and Mastertransactions pipelines",
                "activities": [
                    {
                        "name": "MasterTransactions_DD031",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "FD_DD031_MasterTransactions_Loop",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "run_transactions": {
                                    "value": "@pipeline().parameters.run_fact_transactions",
                                    "type": "Expression"
                                },
                                "run_conformed": {
                                    "value": "@pipeline().parameters.run_conformed",
                                    "type": "Expression"
                                },
                                "run_dimensions": {
                                    "value": "@pipeline().parameters.run_dimensions",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    {
                        "name": "DropToRaw_Control",
                        "type": "IfCondition",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "expression": {
                                "value": "@equals(pipeline().parameters.run_conformed,'1')",
                                "type": "Expression"
                            },
                            "ifTrueActivities": [
                                {
                                    "name": "droptoRaw_DD031",
                                    "type": "ExecutePipeline",
                                    "dependsOn": [],
                                    "policy": {
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "pipeline": {
                                            "referenceName": "droptoRaw_DD031",
                                            "type": "PipelineReference"
                                        },
                                        "waitOnCompletion": true,
                                        "parameters": {}
                                    }
                                }
                            ]
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "run_fact_transactions": {
                        "type": "string",
                        "defaultValue": "1"
                    },
                    "run_conformed": {
                        "type": "string",
                        "defaultValue": "1"
                    },
                    "run_dimensions": {
                        "type": "string",
                        "defaultValue": "1"
                    }
                },
                "folder": {
                    "name": "All Master Pipelines/FD Masters/FD_DD031"
                },
                "annotations": [],
                "lastPublishTime": "2021-11-08T23:18:02Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/FD_CrossCycle_MasterTransactions')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "This pipeline run transactions from Drop To Raw And Conformed.\nCalling the dropToRaw and Mastertransactions pipelines",
                "activities": [
                    {
                        "name": "MasterTransactions_CrossCycle",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "FD_CrossCycle_MasterTransactions_Loop",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "run_fact_transactions": {
                                    "value": "@pipeline().parameters.run_fact_transactions",
                                    "type": "Expression"
                                },
                                "run_conformed": {
                                    "value": "@pipeline().parameters.run_conformed",
                                    "type": "Expression"
                                },
                                "run_dimensions": {
                                    "value": "@pipeline().parameters.run_dimensions",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    {
                        "name": "DropToRaw_Control",
                        "type": "IfCondition",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "expression": {
                                "value": "@equals(pipeline().parameters.run_conformed,'1')",
                                "type": "Expression"
                            },
                            "ifTrueActivities": [
                                {
                                    "name": "droptoRaw_CrossCycle",
                                    "type": "ExecutePipeline",
                                    "dependsOn": [],
                                    "policy": {
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "pipeline": {
                                            "referenceName": "droptoRaw_CrossCycle",
                                            "type": "PipelineReference"
                                        },
                                        "waitOnCompletion": true,
                                        "parameters": {}
                                    }
                                }
                            ]
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "run_fact_transactions": {
                        "type": "string",
                        "defaultValue": "1"
                    },
                    "run_conformed": {
                        "type": "string",
                        "defaultValue": "1"
                    },
                    "run_dimensions": {
                        "type": "string",
                        "defaultValue": "1"
                    }
                },
                "folder": {
                    "name": "All Master Pipelines/FD Masters/FD_CrossCycle"
                },
                "annotations": [],
                "lastPublishTime": "2021-11-08T23:18:02Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/FD_CycleToDate_MasterTransactions')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "This pipeline run transactions from Drop To Raw And Conformed.\nCalling the dropToRaw and Mastertransactions pipelines",
                "activities": [
                    {
                        "name": "MasterTransactions_CycleToDate",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "FD_CycleToDate_MasterTransactions_Loop",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "run_fact_transactions": {
                                    "value": "@pipeline().parameters.run_fact_transactions",
                                    "type": "Expression"
                                },
                                "run_conformed": {
                                    "value": "@pipeline().parameters.run_conformed",
                                    "type": "Expression"
                                },
                                "run_dimensions": {
                                    "value": "@pipeline().parameters.run_dimensions",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    {
                        "name": "DropToRaw_Control",
                        "type": "IfCondition",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "expression": {
                                "value": "@equals(pipeline().parameters.run_conformed,'1')",
                                "type": "Expression"
                            },
                            "ifTrueActivities": [
                                {
                                    "name": "droptoRaw_CycleToDate",
                                    "type": "ExecutePipeline",
                                    "dependsOn": [],
                                    "policy": {
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "pipeline": {
                                            "referenceName": "droptoRaw_CycleToDate",
                                            "type": "PipelineReference"
                                        },
                                        "waitOnCompletion": true,
                                        "parameters": {}
                                    }
                                }
                            ]
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "run_fact_transactions": {
                        "type": "string",
                        "defaultValue": "1"
                    },
                    "run_conformed": {
                        "type": "string",
                        "defaultValue": "1"
                    },
                    "run_dimensions": {
                        "type": "string",
                        "defaultValue": "1"
                    }
                },
                "folder": {
                    "name": "All Master Pipelines/FD Masters/FD_CycleToDate"
                },
                "annotations": [],
                "lastPublishTime": "2021-11-08T23:18:02Z"
            },
            "dependsOn": []
        },
        {
            "name": "[concat(parameters('factoryName'), '/FIS_MasterTransactions')]",
            "type": "Microsoft.DataFactory/factories/pipelines",
            "apiVersion": "2018-06-01",
            "properties": {
                "description": "This pipeline run transactions from Drop To Raw And Conformed.\nCalling the dropToRaw and Mastertransactions pipelines",
                "activities": [
                    {
                        "name": "MasterTransactions",
                        "type": "ExecutePipeline",
                        "dependsOn": [],
                        "policy": {
                            "secureInput": false
                        },
                        "userProperties": [],
                        "typeProperties": {
                            "pipeline": {
                                "referenceName": "FIS_MasterTransactions_Loop",
                                "type": "PipelineReference"
                            },
                            "waitOnCompletion": true,
                            "parameters": {
                                "run_fact_transactions": {
                                    "value": "@pipeline().parameters.run_fact_transactions",
                                    "type": "Expression"
                                },
                                "run_dimensions": {
                                    "value": "@pipeline().parameters.run_dimensions",
                                    "type": "Expression"
                                },
                                "run_conformed": {
                                    "value": "@pipeline().parameters.run_conformed",
                                    "type": "Expression"
                                }
                            }
                        }
                    },
                    {
                        "name": "DropToRaw_Control",
                        "type": "IfCondition",
                        "dependsOn": [],
                        "userProperties": [],
                        "typeProperties": {
                            "expression": {
                                "value": "@equals(pipeline().parameters.run_conformed,'1')",
                                "type": "Expression"
                            },
                            "ifTrueActivities": [
                                {
                                    "name": "droptoRaw",
                                    "type": "ExecutePipeline",
                                    "dependsOn": [],
                                    "policy": {
                                        "secureInput": false
                                    },
                                    "userProperties": [],
                                    "typeProperties": {
                                        "pipeline": {
                                            "referenceName": "droptoRaw_transactions",
                                            "type": "PipelineReference"
                                        },
                                        "waitOnCompletion": true,
                                        "parameters": {}
                                    }
                                }
                            ]
                        }
                    }
                ],
                "policy": {
                    "elapsedTimeMetric": {}
                },
                "parameters": {
                    "run_fact_transactions": {
                        "type": "string",
                        "defaultValue": "1"
                    },
                    "run_dimensions": {
                        "type": "string",
                        "defaultValue": "1"
                    },
                    "run_conformed": {
                        "type": "string",
                        "defaultValue": "1"
                    }
                },
                "folder": {
                    "name": "All Master Pipelines/FIS Masters/FIS_Transactions"
                },
                "annotations": [],
                "lastPublishTime": "2021-10-28T21:43:46Z"
            },
            "dependsOn": []
        }
    ]
}